body {
	background-color: #fff;
	font-family: 	  Helvetica;
	color: 			  #000;
}
a { color: #000 }
input {
	vertical-align: bottom;
	font-size: 		1.1em;
}
input[type='button'] {
	vertical-align: middle;
    margin-bottom:  2px;
	font-size: 		1.25em;
}
input[type='text'] { padding: 4px }


div#wrapper {
	margin-left:  auto;
	margin-right: auto;
	width: 		  1000px;
}
div#holder {
	margin-left:  auto;
	margin-right: auto;
}
span#desc {
    font-family: Georgia;
    display:     none;
}


.message {
	font-weight: 		bold;
	-moz-border-radius: 5px;
	padding: 		 	4px;
	text-decoration: 	none;
}
.success    { background-color: #cdeb8b }
.failure    { background-color: #b02b2c }
.inprogress { background-color: #ffff88 }
.gray       { background-color: #ccc }
.grayc      { color: #ccc }
.r			{ text-align: right }
